In [1]:
from nltk import word_tokenize
from nltk import pos_tag

In [2]:
string = "I was watching movies"
print(pos_tag(word_tokenize(string)))

[('I', 'PRP'), ('was', 'VBD'), ('watching', 'VBG'), ('movies', 'NNS')]

PRP: Personal pronoun
VBD: Verb, past tense
VBG: Verb, gerund
NNS: Noun plural
https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

In [3]:
#Retrieving all nouns
string = 'Stephen Hawking received an honorary doctorate from the University of Oxford'
tagged = pos_tag(word_tokenize(string))

In [4]:
tagged

[('Stephen', 'NNP'),
 ('Hawking', 'NNP'),
 ('received', 'VBD'),
 ('an', 'DT'),
 ('honorary', 'JJ'),
 ('doctorate', 'NN'),
 ('from', 'IN'),
 ('the', 'DT'),
 ('University', 'NNP'),
 ('of', 'IN'),
 ('Oxford', 'NNP')]

In [5]:
allnoun = [word for word, pos in tagged if pos in ['NN','NNP']]
allnoun

['Stephen', 'Hawking', 'doctorate', 'University', 'Oxford']

The Brown Corpus was the first million-word electronic corpus of English,
created in 1961 at Brown University. This corpus contains text from 500 sources, 
and the sources have been categorized by genre, such as news, editorial...
 
 https://en.wikipedia.org/wiki/Brown_Corpus

In [6]:
from nltk.corpus import brown

brown.categories()

['adventure',
 'belles_lettres',
 'editorial',
 'fiction',
 'government',
 'hobbies',
 'humor',
 'learned',
 'lore',
 'mystery',
 'news',
 'religion',
 'reviews',
 'romance',
 'science_fiction']

In [7]:
tags = [tag for (word, tag) in brown.tagged_words(categories='government')]

import operator
from nltk import FreqDist
freq = FreqDist(tags)
tags_freq = sorted(freq.items(), key=operator.itemgetter(1))
tags_freq[-10:]

[('NN-TL', 1917),
 ('VBN', 2190),
 ('CC', 2449),
 ('.', 2778),
 (',', 3381),
 ('JJ', 4173),
 ('NNS', 4535),
 ('AT', 5716),
 ('IN', 8596),
 ('NN', 9877)]

In [8]:
#%http://www.nltk.org/api/nltk.tag.html#module-nltk.tag.stanford
from nltk import ne_chunk

text = "Stephen Hawking taught the University of Oxford in England"


# if binary parameter is True it provides the output for the entire
# sentence tree and tags everything.
print(ne_chunk(pos_tag(word_tokenize(text)), binary=True))

(S
  (NE Stephen/NNP Hawking/NNP)
  taught/VBD
  the/DT
  (NE University/NNP)
  of/IN
  (NE Oxford/NNP)
  in/IN
  (NE England/NNP))

In [9]:
#https://www.nltk.org/book/ch02.html